@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

/* #jpm_form > div {
    display: none;
}

#jpm_form div.show {
    display: block;
} */

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 100px;
}

h2 {
    font: normal bold 18px 'Work Sans', sans-serif;
    text-transform: uppercase;
}

.submit_wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    padding-bottom: 40px;
    left: 0;
    z-index: 3;
}

.submit_container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

/* Style for popup message */
.swal2-html-container {
    margin-top: 0 !important;
    font: normal bold 16px 'Work Sans', sans-serif;
}

#jpm_form h2 {
    position: relative;
    color: #2a70b9;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid #2a70b9;
    padding-bottom: 8px;
}   

.hide {
    display: none;
}
.child {
    margin-left: 40px;
}
.trigger {
    text-decoration: underline;
}

#jpm_form span {
    margin-right: 20px;
}

#jpm_form label, #jpm_form span {
    font: normal bold 15px 'Work Sans', sans-serif;
    color: #4e4e4e;
}

label.radio_label {
    position: relative;
    margin-right: 0;
    top: -1px;
    font-weight: normal;
    color: #979797;
}

input {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

input[type='radio']{
    display: inline;
    width: auto;
    margin-right: 10px;
}
input[type='text'], textarea {
    margin-top: 10px;
    border: 1px solid rgb(128, 128, 128);
}

textarea {
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 20px;
}

button {
    background: #FFAB00;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
}

button:hover {
    background: #2a70b9;
}